@font-face {
  font-family: "Pixeloid Font Bold";
  src: url("/font/PixeloidSansBold-RpeJo.ttf");
}

@font-face {
  font-family: "Pixeloid Font";
  src: url("/font/PixeloidSans-nR3g1.ttf");
}

body {
  text-align: center;
  background-image: url("https://opengameart.org/sites/default/files/parallax-mountain-animX1.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

content {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 30px;
  border: 3px solid black;
}

h1 {
  font-family: "Pixeloid Font Bold";
}

button, input {
  font-family: "Pixeloid Font";
}

.color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 5px;
}

.selected {
  border-radius: 50%;
}

#board-size {
  width: 3em;
}

#pixel-board {
  display: inline-block;
  border: 5px solid black;
}

.pixel {
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

